<%- include('partials/header') %>

  <h2><%= reportName %></h2>

  <table class="table" border="1" style="width:100%; border-collapse: collapse;">
    <thead>
      <tr>
        <% headers.forEach(header => { %>
          <th><%= header %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      
      <% if (items.length === 0) { %>
        <tr>
          <td colspan="<%= headers.length %>" style="text-align: center; padding: 10px;">
            No data found for this report.
          </td>
        </tr>
      <% } %>

      <% items.forEach(item => { %>
        <tr>
          <% Object.values(item).forEach(value => { %>
            
            <% if (value instanceof Date) { %>
              <td><%= new Date(value).toLocaleDateString() %></td>
            <% } else { %>
              <td><%= value %></td>
            <% } %>
            
          <% }); %>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('partials/footer') %>